@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  margin-top: 10%;
  background: #ffffff;
  text-align: center;
  color: #333;
  font-family: "Nunito";
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  position: absolute;
  background-color: rgba(0, 119, 255, 0.678);
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin: 10px 50px 10px 10px;
  text-align: center;
}
nav a:hover {
  font-weight: bold;
}
nav h1 {
  padding: 10px 0;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin: 10px 0px 10px 50px;
}
nav .logo {
  margin-right: auto;
}
footer {
  position: fixed;
  text-align: center;
  background-color: rgba(56, 149, 255, 0.719);
  width: 100%;
  padding: 20px 0;
  bottom: 0px;
  left: 0px;
  margin-top: 60px;
  color: rgb(255, 255, 255);
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
